@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

li {
  list-style: none;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #d3dfc5;
  color: #3e3727;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #3e3727;
  font-size: 20px;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--sm {
  max-width: 840px;
}

.section {
  margin-bottom: 70px;
}

.title {
  font-size: 48px;
  font-weight: 400;
  color: #3e3727;
}

.no-scroll {
  overflow-y: hidden;
}

.none {
  display: none !important;
}

.link-to {
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(143, 75, 59, 0.75);
  gap: 5px;
  font-size: 20px;
  margin-top: auto;
  padding: 22px 25px;
  border-radius: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 400;
}
.link-to--pinterest {
  padding: 10px;
  text-align: center;
}
.link-to--scroll-top {
  padding: 15px;
  margin-top: 10px;
}

.header {
  padding: 20px 0;
  margin-bottom: 70px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro__title {
  position: relative;
}
.intro__title span {
  display: block;
  margin-bottom: 20px;
}
.intro__title::before {
  content: "";
  position: absolute;
  height: 63px;
  left: 74px;
  bottom: 16px;
  width: 108px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./../images/elips-sm.svg");
}
.intro__description {
  font-size: 36px;
  font-weight: 400;
  width: 100%;
  max-width: 525px;
}
.intro__photo-img {
  border-radius: 0 0 0 150px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 120px;
}
.about__title {
  margin-bottom: 20px;
}
.about__description {
  font-size: 20px;
  font-weight: 400;
}
.about__description-text:not(:last-child) {
  margin-bottom: 20px;
}

.project__inner {
  text-align: center;
}
.project__title {
  text-align: center;
  margin: 30px;
}
.project__items {
  position: relative;
  margin-bottom: 330px;
}
.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
.project__item:nth-child(odd) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.project__item:nth-child(odd) .project__item-content {
  padding-top: 100px;
  text-align: right;
  position: relative;
}
.project__item:nth-child(odd) .project__item-content::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 1px;
  height: 100px;
  background-color: #a4a96b;
}
.project__item:nth-child(even) {
  position: absolute;
}
.project__item:nth-child(even) .project__item-content {
  margin-top: auto;
  padding-bottom: 30px;
  text-align: left;
}
.project__item:nth-child(even) .project__item-photo {
  position: relative;
}
.project__item:nth-child(even) .project__item-photo::after {
  content: "";
  position: absolute;
  top: 0;
  right: -80px;
  width: 1px;
  height: 250px;
  background-color: #a4a96b;
}
.project__item:nth-child(2) {
  top: 197px;
}
.project__item:nth-child(3) {
  margin-top: 165px;
}
.project__item:nth-child(4) {
  top: 748px;
}
.project__item:nth-child(4) .project__item-content {
  position: relative;
}
.project__item:nth-child(4) .project__item-content::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: -20px;
  width: 1px;
  height: 100px;
  background-color: #a4a96b;
}
.project__item-year {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  border: 1px solid #3e3727;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
}
.project__item-name {
  font-size: 20px;
  font-weight: 400;
}
.project__item-photo {
  padding-top: 40px;
}
.project__item-img {
  border-radius: 20px;
}

.price__title {
  position: relative;
  margin-bottom: 30px;
}
.price__title::before {
  content: "";
  position: absolute;
  height: 63px;
  left: 233px;
  bottom: -11px;
  width: 108px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./../images/elips-sm.svg");
}
.price__description {
  width: 100%;
  max-width: 530px;
  margin-left: auto;
  color: #a4a96b;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.price__item {
  width: 100%;
  max-width: 500px;
  border: 1px solid #ececec;
  border-radius: 20px;
  padding: 20px 20px 30px 20px;
  background-color: rgba(164, 169, 107, 0.15);
}
.price__item-title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #3e3727;
  text-align: center;
}
.price__item-total {
  font-size: 20px;
  font-weight: 400;
}
.price__list {
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 50px;
}
.price__list-item {
  list-style-type: disc;
  margin-bottom: 13px;
  color: #3e3727;
}

.cta__title {
  width: 100%;
  max-width: 535px;
  position: relative;
  margin-left: auto;
  margin-bottom: 30px;
}
.cta__title::before {
  content: "";
  position: absolute;
  background-image: url("./../images/elips-bg.svg");
  height: 176px;
  width: 445px;
  background-repeat: no-repeat;
  background-size: cover;
}
.cta__description {
  font-size: 20px;
  margin-bottom: 30px;
  color: #a4a96b;
  width: 100%;
  max-width: 521px;
}
.cta__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cta__social {
  padding-left: 10px;
  position: relative;
  padding-top: 20px;
}
.cta__social::before {
  position: absolute;
  content: "";
  height: 150px;
  width: 1px;
  background-color: #a4a96b;
  left: 0;
  top: 0;
}
.cta__social::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  background-color: #a4a96b;
  bottom: 0;
  right: 0;
}
.cta__social-item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer {
  margin-bottom: 70px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}