.price {
  &__title {
    position: relative;
    margin-bottom: 30px;

    @media screen and (max-width: 1024px) {
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      height: 63px;
      left: 233px;
      bottom: -11px;
      width: 108px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('./../images/elips-sm.svg');

      @media screen and (max-width: 1024px) {
        width: 91px;
        left: 169px;
        height: 53px;
      }
    }
  }

  &__description {
    width: 100%;
    max-width: 530px;
    margin-left: auto;
    color: $ligth-green;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;

    @media screen and (max-width: 1024px) {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 14px;
      max-width: 298px;
      line-height: 1.5;
    }
  }

  &__items {
    display: flex;
    gap: 50px 100px;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 1024px) {
      gap: 20px;
    }
  }

  &__item {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ececec;
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
    background-color: rgba($dark-green, 0.15);

    @media screen and (max-width: 1024px) {
      padding: 14px 14px 20px 14px;
    }

    &-title {
      font-size: 32px;
      margin-bottom: 20px;
      font-weight: 400;
      color: $accent;
      text-align: center;

      @media screen and (max-width: 1024px) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    &-total {
      font-size: 20px;
      font-weight: 400;

      @media screen and (max-width: 1024px) {
        font-size: 16px;
      }
    }
  }

  &__list {
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }

    &-item {
      list-style-type: disc;
      margin-bottom: 13px;
      color: $accent;
    }
  }
}
