.price {
  &__title {
    position: relative;
    margin-bottom: 30px;

    &::before {
      content: '';
      position: absolute;
      height: 63px;
      left: 233px;
      bottom: -11px;
      width: 108px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../../images/elips-sm.svg');
    }
  }

  &__description {
    width: 100%;
    max-width: 530px;
    margin-left: auto;
    color: $ligth-green;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__items {
    display: flex;
    gap: 50px 100px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ececec;
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
    background-color: rgba($dark-green, 0.15);

    &-title {
      font-size: 32px;
      margin-bottom: 20px;
      font-weight: 400;
      color: $accent;
      text-align: center;
    }

    &-total {
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__list {
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 50px;

    &-item {
      list-style-type: disc;
      margin-bottom: 13px;
      color: $accent;
    }
  }
}
